.tiptap-editor {
  min-height: 200px;
  p {
    margin: 16px 0;
    line-height: 1.625rem;
    min-height: 1.625rem;
    white-space: pre-wrap;
    word-break: break-all;
  }

  p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  img {
    display: block;
    width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    white-space: pre-wrap;
    word-break: break-all;
  }
  h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    min-height: 2.25rem;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    min-height: 2rem;
  }

  h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    min-height: 1.75rem;
  }
  h1,
  h2,
  h3 {
    font-weight: bold;
    margin-top: 2rem;
    &:first-child {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  ol.ordered-list {
    list-style-type: decimal;
  }
  ol.ordered-list {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  ul {
    list-style-type: disc;
  }

  ul,
  ol.ordered-list {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  ol.ordered-list ol.ordered-list {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }

  ul ul,
  ul ol,
  ul li,
  ol ul,
  ol ol,
  ol li {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }

  ul p,
  ol p {
    margin-top: 0;
    margin-bottom: 0.25rem;
  }

  > ul,
  > ol {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  > ul:first-child,
  > ol:first-child {
    margin-top: 0;
  }

  > ul:last-child,
  > ol:last-child {
    margin-bottom: 0;
  }
}
